<form method="post" action="{{ path('r_mensuel_site_delete', {'id': r_mensuel_site.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ r_mensuel_site.id) }}">
    <button class="btn">Delete</button>
</form>
