{% extends 'base.html.twig' %}

{% block title %}New Depot{% endblock %}

		{% block titre %}
				Créer nouveau dépot  {% endblock %}
{% block body %}
    {{ include('depot/_form.html.twig') }}

    <a href="{{ path('depot_index') }}">retour à la liste </a>
{% endblock %}
