{% extends 'base.html.twig' %}

{% block title %}New Produit
{% endblock %}
	{% block lesite %} <span class="fa fa-angle-double-right"> </span> Config.  
						{% endblock %}
{% block titre %}
	Nouveau produits
{% endblock %}
{% block lesboutons %}
	<a  href="{{ path('produit_index') }}" title="Retour à la liste " class="btn btn-info">
		<i class="fa fa-reply-all"></i>
	</a>
{% endblock %}
{% block body %}
	{{ include('produit/_form.html.twig') }}
{% endblock %}
