{% extends 'base.html.twig' %}

{% block title %}Edit RAnnuelGeneral{% endblock %}

{% block body %}
    <h1>Edit RAnnuelGeneral</h1>

    {{ include('r_annuel_general/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('r_annuel_general_index') }}">back to list</a>

    {{ include('r_annuel_general/_delete_form.html.twig') }}
{% endblock %}
