{% extends 'base.html.twig' %}

{% block title %}New Sortie{% endblock %}
	{% block lesite %} <span class="fa fa-angle-double-right"> </span> Sortie  
						{% endblock %}
		{% block titre %}
				Nouveau sortie 
				{% endblock %}
				   {% block lesboutons %}
	<a  href="{{ path('sortie_index') }}" title="Retour à la liste " class="btn btn-info">
		<i class="fa fa-reply-all"></i>
	</a>
{% endblock %}
{% block body %}
    {{ include('sortie/_form.html.twig') }}
{% endblock %}
