{% extends 'base.html.twig' %}

{% block title %}Billcard Stock!
{% endblock %}
{% block titre %}
	Point d'entrée de l'application

{% endblock %}
{% block lesite %}
	<span class="fa fa-angle-double-right"></span>
	Stocks
{% endblock %}
{% block body %}
	<h1 class="text-gray">Bienvenue sur le logiciel de gestion des stocks intersites
	</h1>
	<marquee direction="right">
		<span class="fa fa-fighter-jet text-xxl "></span>
		<span class="fa fa-truck text-xxl "></span>
	</marquee>
{% endblock %}
