{% extends 'base.html.twig' %}

{% block title %}New LigneEntree{% endblock %}

{% block body %}
    <h1>Create new LigneEntree</h1>

    {{ include('ligne_entree/_form.html.twig') }}

    <a href="{{ path('ligne_entree_index') }}">back to list</a>
{% endblock %}
