{% extends 'base.html.twig' %}

{% block title %}New Client
{% endblock %}
{% block titre %}
	Nouveau client {{client.code}}
{% endblock %}
{% block lesite %}
	<span class="fa fa-angle-double-right"></span>
	Config.
{% endblock %}
{% block lesboutons %}
	<a href="{{ path('client_index') }}" type="button" title="Retour à la liste " class="btn btn-info">
		<i class="fa fa-reply-all"></i>
	</a>
{% endblock %}
{% block body %}
	{{ include('client/_form.html.twig') }}
{% endblock %}
