<form style="margin:0px; float:left"  method="post" action="{{ path('ligne_damage_delete', {'id': ligne_damage.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ligne_damage.id) }}">
    <button class="btn btn-danger"><i class="fas fa-trash"></i>Supprimer</button>
</form>
