<form style="margin:0px; float:left"  style="margin: 0px; float: left"  method="post" action="{{ path('fournisseur_delete', {'id': fournisseur.id}) }}" onsubmit="return confirm('Etes-vous sûre de vouloir supprimer cet élément?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ fournisseur.id) }}">
    <button class="btn btn-danger"><i class="fas fa-trash"></i>Supprimer</button>
</form>
