{% extends 'base.html.twig' %}

{% block title %}Edit User
{% endblock %}
{% block lesite %}
	<span class="fa fa-angle-double-right"></span>
	Profile 
{% endblock %}
{% block lesboutons %}
	<a href="{{ path('user_index') }}" title="Retour à la liste " class="btn btn-info btn-sm">
		<i class="fa fa-reply-all"></i>
	</a>
	<a href="{{ path('app_register') }}" title="Ajouter nouveau " class="btn btn-info">
		<i class="fas fa-plus-circle"></i>
	</a>
	<a action="{{ path('user_delete', {'id': user.id}) }}" onclick="return confirm('Etes-vous sûre de vouloir supprimer cet élément?');" title="Supprimer élément" class="btn btn-info btn-sm">
		<i class="fas fa-trash"></i>
	</a>
{% endblock %}
{% block body %}
	{{ include('user/_form.html.twig', {'button_label': 'Update'}) }}
{% endblock %}
